.editor{
  position: relative;color: rgba(0, 0, 0, 0.75);
  font-family: -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif,
  Microsoft Yahei;
  line-height: 1.6;word-break: break-word;
  &-text-editor{outline: none;}
  &-text-view{outline: none;}

  // article{}

  // blocks
  div, .editor-block{box-sizing: border-box;}
  h1, h2, h3, h4, h5, h6{font-weight: normal;}
  h1{font-size: 2em;}
  h2{font-size: 1.7em;}
  h3{font-size: 1.5em;}
  h4{font-size: 1.3em;}
  h5{font-size: 1.15em;}
  h6{font-size: 1.05em;}
  blockquote{margin: 1em 0;padding-left: 30px;border-left: 5px solid rgba(0, 158, 100, 0.2);}
  code{
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;padding: 4px;border-radius: 3px;
    color: #a35121;font-size: 0.9em;background: rgba(255, 159, 69, 0.15);
  }
  hr{border: none;padding: 10px 10%;margin: 1.5em 0;}
  hr div{height: 1px;background: #ddd;}

  // inline
  a{color: #03a87c;}
  mark{background: rgba(12,242,143,.15);color: inherit;padding: 3px 0;}
  strong{font-weight: 600;}

  // others
  .editor-tool-flaot{
    user-select: none;padding: 0 5px;
    position: absolute;display: flex;align-items: center;border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(68, 70, 71, 0.95);border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);transform-origin: bottom;
    opacity: 0;transform: translateY(10px) scale(0.95);transition: all .1s ease;
    &-show{opacity: 1;transform: translateY(0) scale(1)}
  }
  .editor-tool-btn{
    display: inline-flex;justify-content: center;align-items: center;
    width: 35px;height: 40px;border: none;background: transparent;
    padding: 0;margin: 0;font-size: 20px;color: #fff;outline: none;
    &-on{color: #00ffbb;}
  }
  .editor-tool-link{
    input{position: absolute;width: 100%;height: 100%;left: 0;top: 0;box-sizing: border-box;
      border: none;margin: 0;background: #4f5051;padding: 0 15px;color: #fff;
      font-size: 14px;outline: none;}
    input::-webkit-input-placeholder{color: rgba(255,255,255,0.5)}
  }
}