@import './vars';
@font-face {
  font-family: 'Editor Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../icons/material-icons-outline.woff2) format('woff2');
}
.editor{
  ::selection{background: rgba(0, 153, 255, 0.3);}
  position: relative;color: rgba($color, 0.8);
  font-family: $font-family;
  line-height: $line-height;word-break: break-word;
  padding: 25px;
}
@import './article';
@import './tool';