$line-height: 1.6;
$color: #001c33;
$font-family: -apple-system,BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,Cantarell, Fira Sans, Droid Sans, Helvetica Neue,sans-serif, Microsoft Yahei;
@mixin icon-font {
  font-family: 'Editor Icons';font-weight: normal;font-style: normal;
    line-height: 1;letter-spacing: normal;text-transform: none;transition: color .2s;
    white-space: nowrap;word-wrap: normal;direction: ltr;-webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;user-select: none;
}